/*
These styles should be applied to every page on the website
*/

/*
Fonts:
Lato font (sans serif), use font-family: 'Lato', sans-serif;
Playfair Display (serif), use font-family: 'Playfair Display', serif;*/
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display&display=swap");

body {
    margin: 0;
    padding: 0;
}

#header {
    width: 100%;
    background-color: #c89664;
    font-family: "Playfair Display", serif;
    display: flex;
    justify-content: stretch;
    color: #1e3c5a;
}

#links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

#links div {
    display: grid;
    grid-template-columns: 55px 100px 122px 118px 90px;
}

#links div a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #1e3c5a;
    
}

#links div a:hover {
    background-color: #bebebe;
}

#cfc-text {
    padding: 10px;
    font-size: 35px;
}
